body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Additional styles for improved layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

header img {
    max-width: 100%;
    height: auto;
}

/* Login container styles */
.addDog-container {
    width: 90%;
    max-width: 400px;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.addDog-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #555;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.form-group input[type="text"]{
    width: 100%;
    padding: 12px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #555;
    /* Limit the maximum width of the input fields */
    max-width: 370px;
}

.form-group input[type="checkbox"] {
    width: auto;
    flex-shrink: 0;
    margin-right: 5px;
}


/* Button row styles */
.button-row {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-row button {
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}

.button-row button:first-child {
    background-color: #007bff;
    color: #fff;
    margin-right: 10px;
}

.button-row button:last-child {
    background-color: #f25c5c;
    color: #fff;
}

.button-row button:hover {
    opacity: 0.9;
}


